.likeit_layer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5% 7%;
    font-size: 10vh;
}

.likeit_list {}

.likeit_list img {
    width: 8vw;
    height: 14vh;
    margin-bottom: 10%;
}

.likeit_list_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    width: 100%;
    border-radius: 5vh;
    border-color: white;
    border-style: solid;
    border-width: 1vh;
    background-color: aliceblue;
}

.likeit_list_btn:hover {
    transform: scale(1.1);
}

.likeit_list_text {
    margin-bottom: 5%;
    font-family: BMHANNAPro;
    font-size: 5vh;
}

.likeit_list_count {
    margin-bottom: 5%;
    font-family: BMHANNAPro;
    font-size: 3vh;
}


.food_name {
  color: #426DFB;
  font-size: 8vh;
  line-height: 5vh;
  text-shadow: 0 0 1vh #2356FF;
}


.food_name {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #ffffd9, 0 0 3vw #ffffd9, 0 0 10vw #ffffd9, 0 0 10vw #ffffd9, 0 0 .4vw #ffffd9, .3vw .5vw .1vw #ffffd9;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .3vw #9faee7, 0 0 1.5vw #9faee7, 0 0 3vw #9faee7, 0 0 3vw #9faee7, 0 0 .2vw #9faee7, .3vw .5vw .1vw #9faee7;
    color: #f1f8fa;
  }
}
